[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpy2 = "*"
pymongo = "*"
gitpython = "*"
requests = "*"
python-dotenv = "*"
bibtexparser = "*"

[dev-packages]

[requires]
python_version = "3.7"
